<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

<script src="/tinymce/tinymce.min.js" ></script>
<script>
   tinymce.init({
      selector: 'textarea#article',
      plugins: 'advlist autolink link image lists print preview hr searcheplace wordcount fullscreen insertdatetime media save table paste emoticons'
        // change this value according to your

    });
    
</script>
</head>
