<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="container">

        <hr>

        <div class="card">
            <div class="card-header mt-4">
                <h2>Login</h2>
             </div> 
             <div class="card-body">
                <form action="/authenticate" method="POST">      
                    <input type="email" class="form-control" name="email" placeholder="email" >
                    <br>
                     <input type="password" class="form-control" name="password" placeholder="senha" >
                     
                    <button type="submit"  class=" mt-2 btn btn-outline-primary btn-block">Logar</button>
                </form>

                <a class="btn btn-outline-success btn-block mt-5" href="/admin/users/create" >Registrar</a>
            </div>
          
        </div>
    </div>    
</body>

<%- include('../../partials/footer.ejs') %>